RewriteEngine On

RewriteRule ^connexion?$                        login.php
RewriteRule ^login?$                            login.php
RewriteRule ^about?$                            about.php
RewriteRule ^contact?$                          contact.php
RewriteRule ^panier?$                           panier.php
RewriteRule ^/?$                                shop.php
RewriteRule ^/index.html?$                      shop.php
RewriteRule ^/index.php?$                       shop.php
RewriteRule ^/accueil?$                         shop.php



RewriteRule ^fiche_article?(.+)$               detailsArticles.php?id=$1 [NC,L]
RewriteRule ^details_br_(.+)$                   printBRs.php?id=$1 [NC,L]

RewriteRule ^user/([0-9]+) user.php?id=$1
